.App {
  text-align: center;
  background-color: lightpink;
  width: 35vw;
  height: 25vw;
  margin: auto;
  margin-top: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cont{
}

.Toastify__toast-theme--light{
  background-color: #ffdafe !important;
}

.toast-color{
  background-color: pink;
}

button {
  font-size: calc(10px + 2vmin);
}

.calc{
  width: 25vw;
  height: 7vw;
  background-color: rgba(184, 171, 245, 0.65);
  margin: auto;
  margin-bottom: 2vw;
  margin-top: 1vw;
}

.buttonNorm{
  width: 5vw;
  background-color: lightpink;
  border-radius: 3px;
}

.buttonBig{
  width: 10vw;
  background-color: lightpink;
  border-radius: 3px;
}
